<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">

<!-- <! insert bootstrap for the website> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

<!-- title of the page -->
<title>Create new article</title>
</head>




<body>

  <div class = "container">
  <h1> Create a new Article</h1> 

  <!-- <!create a form and include it in form.ejs> -->
  <form action="/articles" method="POST">
  <%- include('form')%>
  </form>
  </div>








</body>
</html>